html {
    background: #111;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-smooth: auto;
    color: #fff;
    margin: 0;
}

svg {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff !important;
    stroke-width: 1;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.board {
    overflow: auto;
    flex: 1;
    left: 0;
    right: 0;
    top: 85px;
    bottom: 0px;
}

.list {
    position: relative;
    display: inline-block;
    min-width: 250px;
    max-width: 450px;
    flex: 1 0 auto;
    vertical-align: top;
    overflow: auto;
    padding: 5px;
    border-radius: 10px;
    background: #1e1e1e;
    margin: 0 10px 10px 0;
    border: 1px solid #333;
    z-index: 0;
}

.list:nth-of-type(1) {
    --theme: #e9f;
    background: linear-gradient(to bottom, #e9f6, #c6f6);
    border: 1px solid rgba(var(--theme), 0.5);
}


.list:nth-of-type(2) {
    --theme: #4af;
    background: linear-gradient(to bottom, #4af6, #04e6);
    border: 1px solid rgba(var(--theme), 0.5);
}

.list:nth-of-type(3) {
    --theme: #3e6;
    background: linear-gradient(to bottom, #3e66, #2a46);
    border: 1px solid rgba(var(--theme), 0.5);
}

.list:nth-of-type(4) {
    --theme: #fd2;
    background: linear-gradient(to bottom, #fd26, #b506);
    border: 1px solid rgba(var(--theme), 0.5);
}

.list::before {
    background: url(https://manav.ch/assets/noise.webp) repeat;
    content: ' ';
    position: absolute;
    opacity: 0.1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.card {
    position: relative;
    font-size: 16px;
    font-weight: 100;
    border-radius: 10px;
    background: #222;
    border: 1px solid #444;
    margin: 5px 0;
    padding: 10px;
    transition: all 0.1s ease;
    color: #fff;
    text-transform: capitalize;
    z-index: 5;
    max-width: 400px;
    word-wrap: break-word;
    overflow: hidden;
}

.card:hover {
    cursor: move;
    opacity: 0.9;
}

.card.dragging {
    box-shadow: 0 0 5px #0005;
    transform: rotate(-2deg);
}

.card-placeholder {
    display: block;
    height: 52px;
    border: 1px dashed #555;
    background: #2224;
    margin: 3px 0;
    border-radius: 10px;
}

.listname {
    margin: 0 0 10px;
    text-transform: uppercase;
    padding: 5px;
    text-overflow: ellipsis;
    user-select: none;
    color: #fffa;
    mix-blend-mode: overlay;
    opacity: 0.8;
    font-weight: 300;
}

.listname>span {
    float: right;
    font-weight: normal;
    font-size: 13px;
}

.form-add-todo,
.form-add-list {
    background: #111;
    border-bottom: 1px solid #4448;
    opacity: 0.25;
    transition: all 0.1s ease;
}

.form-add-todo:hover,
.form-add-list:hover {
    opacity: 1;
}

.form-add-list {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

select {
    min-width: 20ch;
}

select,
textarea,
.button-app,
input[type=text] {
    border: 1px solid #555;
    background: #222;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    line-height: 1.2 !important;
    font-family: Helvetica !important;
    font-size: 16px !important;
    margin-left: 10px !important;
}

.bin {
    width: 44px;
    height: 44px;
    float: right;
}

.task-user {
    font-weight: 300;
    position: relative;
}

.task-type {
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 20px;
    float: right;
    transition: all 0.1s ease;

    background: var(--col);
    font-size: 10px;
    padding: 3px 7px 1px 7px;
    height: 0;
    color: #fff0;
}

.card:hover .task-type,
.card:focus .task-type {
    height: 20px;
    color: #fff;
}

.task-deadline {
    font-size: 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.card span ul,
.card span p {
    margin: 0;
}

.card span a {
    text-decoration: underline;
    color: var(--theme);
}

.card img {
    max-width: 80%;
    max-height: 200px;
    border-radius: 10px;
}

.bin:hover,
.button-app:hover {
    opacity: 0.9;
    cursor: pointer;
}

.option-task {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #555;
    font-size: 16px;
    background: #2c2c2c;
}

.change-label {
    font-size: 12px;
}

.logo-img {
    width: 122px;
    float: left;
    position: relative;
    top: -12px;
}

.modal {
    display: none;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: min(100%, 600px);
    overflow: auto;
    background-color: #000a;
}

.modal-desc {
    border: solid 1px #999;
    height: 52px;
    resize: none;
    background: #2c2c2c;
    color: #fff;
}

.modal-content {
    background: #111;
    margin: auto;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #444;
    width: 70%;
    height: 90%;
    overflow: hidden;
}

.modal-text-area {
    width: 100%;
    height: 52px;
    resize: none;
    border-radius: 4px;
    border: solid 1px #666;
    background: #2c2c2c;
    padding: 4px;
}

.modal-dialog-title {
    color: #aaa;
    font-size: 14px;
    font-weight: bold;
}

.modal-dialog-body {
    height: auto;
    padding: 4px 0;
}

.modal-dialog-content {
    height: auto;
    max-width: 600px;
    background: #111;
    margin: auto;
    border: 1px solid #444;
    overflow: hidden;
}

.close-cross {
    float: right;
    font-size: 28px;
    top: -10px;
}

.close-cross:hover,
.close-cross:focus {
    text-decoration: none;
}